# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
build/

# claude
.claude/

# misc
tsconfig.tsbuildinfo
$*.ts
.env
*.mp3
*.pdf
*.js

